{# src/FS/MainBundle/Resources/views/Foot/standing.html.twig #}

{% extends "FSMainBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    {% set years = ( season|split('', 2) ) %}

    <h1> {{ "Classement saison 20%s - 20%s"|format(years.0, years.1) }} </h1>

    {{ form_start(form) }}
    {{ form_label(form.season) }}
    {{ form_widget(form.season) }}
    {{ form_end(form) }}

    <table class="table">
        <tr>
            <th>#</th>
            <th>Equipe</th>
            <th>Matchs joués</th>
            <th>Gagnés</th>
            <th>Nuls</th>
            <th>Perdus</th>
            <th>Buts marqués</th>
            <th>Buts encaissés</th>
            <th>Différence</th>
            <th>Points</th>
        </tr>
        {% for teams in standing %}
            {% for key, team in teams %}
                <tr>
                    <td> {{ key+1 }} </td> 
                    <td> <a href="{{ path('fs_main_team', {'id': team.teamid}) }}">
                            {{ team.name}}
                        </a> </td> 
                    <td> {{ team.played}} </td> 
                    <td> {{ team.win}} </td> 
                    <td> {{ team.draw}} </td> 
                    <td> {{ team.loss}} </td> 
                    <td> {{ team.goalsfor}} </td> 
                    <td> {{ team.goalsagainst}} </td> 
                    <td> {{ team.goalsdifference}} </td> 
                    <td> {{ team.total}} </td> 
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}